*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0f172a;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.login-container{
    width:380px;
    background:#1e293b;
    padding:40px 30px;
    border-radius:20px;
    box-shadow:0 15px 40px rgba(0,0,0,.35);
}

.logo{
    text-align:center;
    margin-bottom:30px;
}

.logo h1{
    color:#ffffff;
    font-size:30px;
    margin-bottom:10px;
}

.logo p{
    color:#94a3b8;
}

form{
    display:flex;
    flex-direction:column;
}

input{
    width:100%;
    padding:15px;
    margin-bottom:18px;
    border:none;
    outline:none;
    border-radius:12px;
    background:#334155;
    color:#fff;
    font-size:16px;
}

input::placeholder{
    color:#cbd5e1;
}

button{
    padding:15px;
    border:none;
    border-radius:12px;
    background:#16a34a;
    color:white;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#15803d;
}

.bottom-text{
    margin-top:25px;
    text-align:center;
    color:#cbd5e1;
}

.bottom-text a{
    color:#22c55e;
    text-decoration:none;
    font-weight:bold;
}
